// Color

$color-primary: #777;
$color-headline: #58e1c1;

$color-btn-default: #51ddfc;
$color-btn-success: #63cc82;
$color-btn-error: #e4757a;
$color-btn-warning: #fd7856;
$color-btn-info: #927bc1;


// Font

$font-stack-primary: 'Lato', sans-serif;


// Breakpoints

$break: 768px;


// Media Query
